# Core dependencies
pandas>=2.1.0
requests>=2.31.0
python-dotenv>=1.0.0
xlsxwriter>=3.1.0
colorlog>=6.8.0
urllib3>=2.1.0

# Type hints
typing-extensions>=4.9.0

# Development dependencies
pytest>=7.4.0
black>=23.3.0
flake8>=6.0.0

# Specific type stubs
types-requests>=2.31.0
types-setuptools>=69.0.0
types-urllib3==1.26.25.14
pandas-stubs>=2.1.0

# Additional dependencies
streamlit
